* {
  margin: 0;
  
}
body {
  background-color: rgb(28, 27, 27);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.header {
  /* margin: 30px; */
}
.logo {
  color: white;
  font-size: 1.5rem;
  margin-left: 100px;
}


.navber {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 110, 0);
  padding: 15px;
  align-items: center;
  
}
.btn-primary {
  color: rgb(255, 255, 255)
  ;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid rgb(215, 215, 215);
  background-color: rgb(255, 132, 0);
  border-radius: 10px;
}
.btn-primary:hover{
  background-color: rgb(26, 26, 26);
  color: darkorange;
  border: 2px solid dar;
}
.btn-1{
  margin-right: 100px;
  
}
.btn-2 {
  color: darkorange;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid darkorange;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
}
.btn-2:hover{
  background-color: darkorange;
  color: white;
  border: 2px solid white;


}

nav li a {
  font-size: 1.2rem;
  color: aliceblue;
  text-decoration: none;
  margin-right: 30px;
}
nav li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}
nav li a:hover{
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 30px;
}

.banner-text {
  color: white;
  font-size: 3rem;
  margin: 100px 0px 0px 50px;
}

.title-1 {
  color: rgb(157, 156, 156);
}
.title-2 {
  color: rgb(215, 215, 215);
  margin-top: 15px;
}
.title-3 {
  color: rgb(255, 128, 0);
  margin-top: 20px;
}
.buttons {
  margin-top: 20px;
}

/* banner section */

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-img {
}
.image-1 {
  width: 400px;
  border-radius: px;
  margin-top: 50px;
}

.experiences{
  background-color: rgb(46, 44, 44);
  color: rgb(208, 208, 208);
  display: flex;
  padding: 30px;
  gap: 50px;
  margin: 50px;
  margin-left: 100px;
  width: 500px;
  justify-content: center;
}
.experience-title{
  color: darkorange;
}
.experience{
  border-right: 3px solid rgb(91, 91, 91);
  padding-right: 20px;

}

/* service section  */
.Services{
  margin: 100px;
}
.service-carts{
  
  text-align: center;
  margin: 100px;
  
  gap: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  
  
}
.service-cart{
  border: 1px solid darkorange;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(39, 39, 39);
}
.services-title{
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.Services-descrption{
  color: rgb(190, 190, 190);
  text-align: center;
}

.cart-image{
  width: 100px;
  color: antiquewhite;
}
.cart-title{
  color: darkorange;
  font-size: 1rem;
}
.cart-description{
  color: rgb(217, 217, 217);
  font-weight: 100;
  font-size: 0.8rem;
  margin-top: 8px;
}
.fa-regular{
  color: darkorange;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 20px;
}

/* about me section  */

.about-me{
  color: rgb(198, 198, 198);
  margin: 100px;
  
}

.about-title{
  color: white;
  text-align: center;
  font-size: 2rem;
}
.about-description{
  text-align: center;
  margin-top: 30px;
  border-bottom: 0.7px solid darkorange;
  padding-bottom: 20px;
}
.about-me-text{
  display: flex;
  gap: 100px;
  align-items: center;
}

.about-img{
  width: 40%;
}
.about-me-description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 30px;
  margin-top: 60px;
}

/* contact  */


.contact{
  margin: 100px;
  color: white;
  margin-right: 100px;
  text-align: center;
  border: 1px solid white;
}
.input-1 input{
padding: 10px;
  width: 0%;
  gap: 20px;
  border-radius: 5px;
  background-color: rgb(171, 171, 171);
border: 1px solid white;

}
input::placeholder{
  color: black;
}
.input-1{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  column-gap: 50px;
 margin-bottom: 10px;
  border: 1px solid white;
}